@model IEnumerable<Inventory_Core.Models.Codes>

@{
    ViewData["Title"] = "Index";
}

<h1>Codes - @ViewData["Code_nm_grp"]</h1>

<p>
    <a asp-action="Create" asp-route-code_grp="@ViewData["Code_grp"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                코드명
            </th>
            <th>
                정렬번호
            </th>
            <th>
                사용여부
            </th>
            <th>
                메모1
            </th>
            <th>
                메모2
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code_nm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sort_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Use_yn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Code">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Code">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
