@model Inventory_Core.Models.Site

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            현장명
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site_nm)
        </dd>
        <dt class="col-sm-2">
            담당자1
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Res_nm1)
        </dd>
        <dt class="col-sm-2">
            연락처1
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tel_no1)
        </dd>
        <dt class="col-sm-2">
            담당자2
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Res_nm2)
        </dd>
        <dt class="col-sm-2">
            연락처2
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tel_no2)
        </dd>
        <dt class="col-sm-2">
            엘다임담당자
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eldigm_res_nm)
        </dd>
        <dt class="col-sm-2">
            주소
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            정렬번호
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sort_no)
        </dd>
        <dt class="col-sm-2">
            사용여부
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Use_yn)
        </dd>
        <dt class="col-sm-2">
            시작일시
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start_dt)
        </dd>
        <dt class="col-sm-2">
            종료일시
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End_dt)
        </dd>
        <dt class="col-sm-2">
            구분
        </dt>
        <dd class="col-sm-10">
            <select asp-for="Code1" asp-items="@((List<SelectListItem>)ViewData["CodeList"])" class="form-control">
                <option value="0">-- 미선택 --</option>
            </select>
        </dd>
        <dt class="col-sm-2">
            메모1
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Memo1)
        </dd>
        <dt class="col-sm-2">
            메모2
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Memo2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input_dt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input_dt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Update_dt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Update_dt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Update_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Update_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Site_cd">Edit</a> |
    <a asp-action="Index" asp-route-memco_cd="@Model.Memco_cd">Back to List</a>
</div>
