@model IEnumerable<Inventory_Core.Models.CodeGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>CodeGroup</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                코드그룹명
            </th>
            <th>
                정렬번호
            </th>
            <th>
                사용여부
            </th>
            <th>
                메모1
            </th>
            <th>
                메모2
            </th>
            <th>
                코드
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details"  asp-route-id="@item.Code_grp">@Html.DisplayFor(modelItem => item.Code_nm)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sort_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Use_yn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memo1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memo2)
                </td>
                <td>
                    <a asp-area="" asp-controller="Codes" asp-action="Index" asp-route-code_grp="@item.Code_grp">Codes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
